#gudheader {
    position: fixed;
    left: 0px;
    padding: 20px;
    background-color: lightgrey;
    border-bottom: 2px solid black;
    margin: 0px;
    width: 100%;
}

#main {
    position: relative;
    top: 150px;
}

.titletext {
    padding: 20px;
    font-family: 'Comic Sans';
    font-size: 50px;
}